
@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurly-Thin.woff2') format('woff2'), url('TTF/IosevkaTermCurly-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurly-ExtendedThin.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurly-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurly-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurly-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurly-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurly-ThinItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurly-ExtendedThinItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurly-ExtraLight.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurly-ExtendedExtraLight.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurly-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurly-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurly-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurly-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurly-ExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurly-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurly-Light.woff2') format('woff2'), url('TTF/IosevkaTermCurly-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurly-ExtendedLight.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurly-LightOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurly-LightOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurly-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurly-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurly-LightItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurly-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurly-ExtendedLightItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurly-Regular.woff2') format('woff2'), url('TTF/IosevkaTermCurly-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurly-Extended.woff2') format('woff2'), url('TTF/IosevkaTermCurly-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurly-Oblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurly-Oblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurly-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurly-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurly-Italic.woff2') format('woff2'), url('TTF/IosevkaTermCurly-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurly-ExtendedItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurly-Medium.woff2') format('woff2'), url('TTF/IosevkaTermCurly-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurly-ExtendedMedium.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurly-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurly-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurly-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurly-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurly-MediumItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurly-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurly-ExtendedMediumItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurly-SemiBold.woff2') format('woff2'), url('TTF/IosevkaTermCurly-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurly-ExtendedSemiBold.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurly-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurly-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurly-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurly-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurly-SemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurly-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurly-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurly-Bold.woff2') format('woff2'), url('TTF/IosevkaTermCurly-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurly-ExtendedBold.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurly-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurly-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurly-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurly-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurly-BoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurly-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurly-ExtendedBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurly-ExtraBold.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurly-ExtendedExtraBold.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurly-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurly-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurly-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurly-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurly-ExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurly-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurly-Heavy.woff2') format('woff2'), url('TTF/IosevkaTermCurly-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurly-ExtendedHeavy.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurly-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurly-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurly-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurly-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurly-HeavyItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurly-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurly-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurly-ExtendedHeavyItalic.ttf') format('truetype');
}
