@font-face {
    font-family: 'Iosevka Comfy Wide';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src: url('/fonts/iosevka-comfy-wide-bold-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Comfy Wide';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: italic;
    src: url('/fonts/iosevka-comfy-wide-bolditalic-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Comfy Wide Duo';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src: url('/fonts/iosevka-comfy-wide-duo-bold-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Comfy Wide Duo';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: italic;
    src: url('/fonts/iosevka-comfy-wide-duo-bolditalic-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Comfy Wide Duo';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src: url('/fonts/iosevka-comfy-wide-duo-extrabold-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Comfy Wide Duo';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: italic;
    src: url('/fonts/iosevka-comfy-wide-duo-extrabolditalic-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Comfy Wide Duo';
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    src: url('/fonts/iosevka-comfy-wide-duo-medium-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Comfy Wide Duo';
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    src: url('/fonts/iosevka-comfy-wide-duo-mediumitalic-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Comfy Wide Duo';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src: url('/fonts/iosevka-comfy-wide-duo-regular-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Comfy Wide Duo';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src: url('/fonts/iosevka-comfy-wide-duo-semibold-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Comfy Wide Duo';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: italic;
    src: url('/fonts/iosevka-comfy-wide-duo-semibolditalic-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Comfy Wide';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src: url('/fonts/iosevka-comfy-wide-extrabold-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Comfy Wide';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: italic;
    src: url('/fonts/iosevka-comfy-wide-extrabolditalic-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Comfy Wide';
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    src: url('/fonts/iosevka-comfy-wide-medium-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Comfy Wide';
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    src: url('/fonts/iosevka-comfy-wide-mediumitalic-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Comfy Wide';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src: url('/fonts/iosevka-comfy-wide-regular-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Comfy Wide';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src: url('/fonts/iosevka-comfy-wide-semibold-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Comfy Wide';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: italic;
    src: url('/fonts/iosevka-comfy-wide-semibolditalic-latin.woff2') format('woff2');
}

