@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  src: url("WOFF2/IosevkaTermCurly-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: italic;
  src: url("WOFF2/IosevkaTermCurly-ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  src: url("WOFF2/IosevkaTermCurly-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: oblique;
  src: url("WOFF2/IosevkaTermCurly-ExtraLightOblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: italic;
  src: url("WOFF2/IosevkaTermCurly-ExtraLightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  src: url("WOFF2/IosevkaTermCurly-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: oblique;
  src: url("WOFF2/IosevkaTermCurly-LightOblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  src: url("WOFF2/IosevkaTermCurly-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("WOFF2/IosevkaTermCurly-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: oblique;
  src: url("WOFF2/IosevkaTermCurly-Oblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url("WOFF2/IosevkaTermCurly-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  src: url("WOFF2/IosevkaTermCurly-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: oblique;
  src: url("WOFF2/IosevkaTermCurly-MediumOblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
  src: url("WOFF2/IosevkaTermCurly-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  src: url("WOFF2/IosevkaTermCurly-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: oblique;
  src: url("WOFF2/IosevkaTermCurly-SemiBoldOblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  src: url("WOFF2/IosevkaTermCurly-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url("WOFF2/IosevkaTermCurly-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: oblique;
  src: url("WOFF2/IosevkaTermCurly-BoldOblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url("WOFF2/IosevkaTermCurly-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  src: url("WOFF2/IosevkaTermCurly-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: oblique;
  src: url("WOFF2/IosevkaTermCurly-ExtraBoldOblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: italic;
  src: url("WOFF2/IosevkaTermCurly-ExtraBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  src: url("WOFF2/IosevkaTermCurly-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: oblique;
  src: url("WOFF2/IosevkaTermCurly-HeavyOblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Term Curly Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: italic;
  src: url("WOFF2/IosevkaTermCurly-HeavyItalic.woff2") format("woff2");
}
