---
import ThemeLayout from "../layouts/ThemeLayout.astro";
---

<ThemeLayout title="Jesse Aubin">
  <main>
    <h1>Jesse Aubin</h1>
    <p>Welcome to my corner of the internet!</p>
  </main>
</ThemeLayout>
