---
import ThemeLayout from "../layouts/ThemeLayout.astro";
---

<ThemeLayout title="Jesse Aubin">
  <main class="flex flex-col items-center mt-6">
    <h1 class="text-2xl font-serif font-semibold">Jesse Aubin</h1>
    <p>Welcome to my corner of the internet!</p>
    <div class="font-mono">
      <p>{" /| ､"}</p>
      <p>{"(°､ ｡ 7"}</p>
      <p>{" |､ ~ヽ"}</p>
      <p>{" じしf_,)〳‎‎"}</p>
    </div>
  </main>
</ThemeLayout>

<style>
  p {
    white-space-collapse: preserve;
  }
</style>
