/* Global custom variables */
:root {
	--dark: hsl(0, 0%, 20%);
}

/* Set core body defaults */
body {
	min-height: 100vh;
	line-height: 1.6;

	font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji';
}
