---
import ThemeLayout from "../layouts/ThemeLayout.astro";
---

<ThemeLayout title="Jesse Aubin">
  <main class="flex flex-col mx-margin">
    <div class="font-mono whitespace-pre text-plum-dim cursor-default">
      <p>{" /| ､\n(°､ ｡ 7\n |､ ~ヽ\n じしf_,)〳‎‎"}</p>
    </div>
    <slot />
  </main>
</ThemeLayout>
