---
import "./shikiDark.css";
---

<section
  class="prose prose-mauve dark:prose-invert lg:prose-lg prose-h1:underline prose-h1:decoration-plum-11 dark:prose-h1:decoration-plumdark-11"
>
  <slot />
</section>
