---
interface Props {
  title: string;
}

import { ViewTransitions } from "astro:transitions";
import { Navigation } from "../components/Navigation";
import "../styles/fonts.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Jesse Aubin's corner of the internet" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" as="font" href="/fonts/iosevka-comfy-wide-duo-regular-latin.woff2" crossorigin />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-mauve-app text-mauve-normal max-w-2xl mx-auto my-margin">
    <Navigation client:load transition:persist />
    <main class="flex flex-col mx-margin">
      <slot />
    </main>
  </body>
</html>
