---
interface Props {
  title: string;
}

import { Navigation } from "../components/Navigation";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Jesse Aubin's corner of the internet" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://iosevka-webfonts.github.io/iosevka/Iosevka.css" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-mauve-app text-mauve-normal max-w-2xl mx-auto my-margin">
    <Navigation />
    <slot />
  </body>
</html>
